body{ 
    background: -webkit-linear-gradient(rgb(26, 209, 108),rgb(26, 209, 108));
    color: white;
    
}

nav{
    margin-top: 50px;
    margin-bottom: 50px;
}

nav a{
    text-decoration: none;
    color: rgb(28, 68, 156);
}

#foto{
    float: left;
    padding: 10px;
    background-color: rgb(19, 94, 87);
}

.lado{
    position: absolute;
    width: 550px;
    top:36%;
    right:10% ;
    
}

.left{
    clear: both;
}

.nome{
    text-align: center;
}

#top-cont{
    height: 222px;
    border: 3px solid black;
    position: relative;
}

ul.org3  li:nth-child(odd){
    background-color: rgb(49, 146, 146);
}
