.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    margin-left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    margin-left: 200px;
    margin-top: 290px;
  }

  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    margin-left: 800px;
    margin-top: 150px;
  }
  
  .baloon {
      position: absolute;
      margin-left: 500px;
      z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-left: 520px;
    z-index: 2;
    margin-top: 50px;
  }
  
