ol li {
    background-color: yellow;
    font-weight:bold ;
}

li{
    font-size: 20px;
}

ol li:nth-child(even){
    background-color: green;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

h1 , h2 , h3 ,h4 , h5{
    color: rgb(177, 33, 33);
}

h1{
    font-size: 40px;
    border: 1px solid black;
}

ul.linguas li:nth-child(1){
    color: rgb(0, 24, 236);
}
ul.linguas li:nth-child(2){
    color: rgb(236, 0, 177);
}
ul.linguas li:nth-child(3){
    color: rgb(0, 24, 236);
}


ul.aliados li:nth-child(1) a:hover{
    color: rgb(226, 106, 7);
}
ul.aliados li:nth-child(2) a:hover{
    color: rgb(15, 110, 52);
}
ul.aliados li:nth-child(3) a:hover{
    color: black;
}
ul.aliados li:nth-child(4) a:hover{
    color: rgb(227, 231, 2);
}
ul.aliados li:nth-child(5) a:hover{
    color: rgb(8, 189, 68);
}

